@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

* {
    font-family: Poppins;
}

.button {
    padding: 12px 30px;
    text-align: center;
    display: inline-block;
    border: 3.5px solid black;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
}

.back-home a {
    color: black;
    font-size: 14px;
    font-weight: 600;
    background:
        linear-gradient(
            to bottom, #FF8264 0%,
            #FF8264 100%
        );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    text-decoration: none;
    transition: background-size .2s;
}

.back-home a:hover {
    background-size: 3px 50px;
}

.hero {
    text-align: center;
    margin-top: 15em;
    margin-bottom: 25em;
}

.hero-title {
    font-size: 56px;
    line-height: 26px;
    display: inline;
}

.topic {
    margin-left: 56px;
    margin-bottom: 120px;
}

.topic-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 20px;
}

.nav {
    margin: 0px 100px;
    padding-bottom: 100px;
}

.nav a {
    color: black;
    font-weight: 500;
    background:
        linear-gradient(
            to bottom, rgb(37, 37, 37) 0%,
            rgb(37, 37, 37) 100%
        );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    text-decoration: none;
    transition: background-size .2s;
}

.nav a:hover {
    color: white;
    background-size: 3px 50px;
}